{% extends 'hr/base.html' %}
{% block title %}
  Employees
{% endblock %}
{% block content %}

  {% if employees %}
    <h2>Employees ({{ employees| length }})</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>manager?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <td>{{ employee.basic_info.name }}</td>
            <td>{{ employee.basic_info.email }}</td>
            <td>
              {% if employee.is_manager %}
                <strong>yes</strong>
              {% else %}
                no
              {% endif %}
            </td>
            <td>
              <a href='{% url 'hr:employee' employee.id %}' class='btn btn-primary'>Edit</a>
            </td>
            <td>
              <a href='{% url 'hr:delete_employee' employee.id %}' class='btn btn-primary'>Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h2>Employees</h2>

      No employees yet.

  {% endif %}
{% endblock %}

