{% extends 'hr/base.html' %}

{% block title %}
  Home

{% endblock %}
{% block content %}

  <h1 id='title'>
    HR DB - Home

  </h1>
  <h2>
    Employees
  </h2>
  <ul>
    <li>
      <a href='{% url 'hr:employees' %}'>List employees</a>
     <li>
      <a href='{% url 'hr:add_employee' %}'>Add new employee</a>

     </li>
    </li>
  </ul>
  <h2>Teams</h2>

  <ul>
    <li>
      <a href='{% url 'hr:teams' %}'>List teams</a>
    </li>
    <li>
      <a href='{% url 'hr:add_team' %}'>Create new team</a>
    </li>
  </ul>
  <h2>Danger zone</h2>

  <ul>
    <li>
     <a href='{% url 'hr:reset_db' %}'>Reset database</a>
    </li>
  </ul>
{% endblock %}

