[Unit]
Description=gunicorn socket - @group@ - @team@

[Socket]
ListenStream=/srv/hr/run/@group@/@team@.sock
SocketUser=hr
SocketMode=600

[Install]
WantedBy=sockets.target

