[Unit]
Description=gunicorn daemon - @group@ - @team@
Requires=gunicorn-@group@-@team@.socket
After=network.target

[Service]
Type=notify
User=hr
Group=hr
WorkingDirectory=/srv/hr/src/@group@
ExecStart=/srv/hr/src/@group@/.venv/bin/gunicorn app.wsgi --capture-output --log-file /var/log/hr/@group@/gunicorn-@team@.log

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
Environment=DATABASE_URL=sqlite:////srv/hr/data/@group@/@team@.db
# Environment=DJANGO_DEBUG=true
Environment=DJANGO_SECRET_KEY=brvn8Ilw2g4OMWitoNJjBx2nDd1OJT6uF_EogIQ5DIw
PrivateTmp=true

[Install]
WantedBy=multi-user.target

